.sidebar{
    position: sticky;
    top:0;
    width: 6%;
    height: 100vh;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.timecamp_logo{
    border-bottom: 1px solid black;
    height: 9%;
    width: 100%;
}
.track{
    border-bottom: 1px solid black;
    height: 10%;
    font-size: 11px;
}
.type{
    margin-top: 10%;
}
.analyze{
    border-bottom: 1px solid black;
    height: 10%;
    font-size: 11px;
}
.manage{
    border-bottom: 1px solid black;
    height: 18%;
    font-size: 11px;
}
.team{
    border-bottom: 1px solid black;
    height: 10%;
    font-size: 11px;
}
.clients{
   
    height: 15%;
    font-size: 11px;
}
.logo{
    width: 25%;
    margin: auto;
    margin-top: 20%;
}
.logo1{
   
    width: 30%;
    margin: auto;
    margin-top: 20%;
    padding-bottom: 5%;
}
.logo3{
   
    width: 50%;
    margin: auto;
    height: 75%;
    padding-top: 15%;
}