.flextop{
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 10%;
}
.imgslack{
    width: 80%;
}
.buttontrack{
    width: 400px;
    margin-top: 20px;
    background-color: rgb(60,145,230);
    height: 80px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    gap:0px;
    cursor: pointer;
}
.chrome{
height: 50px;
margin-left: 30px;

}
.btnapp{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid gray;
    justify-content: space-around;

}
.btnapp img{
    height: 30px;
    
justify-content: center;
margin-left: auto;
margin-right: auto;

}
.btnapp>h1{
    color: grey;
}
.btnapp:hover{
    border: 1px solid black;
    transform: scale(1.2);
    transition: 1s;
}
.app{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}
.app div :hover{
    color: black;
}
.container{ 

    height: 300px;
    width: 400px;
    border-radius: 10px;
   align-items: center;
   margin-top: 100px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 
   
}
.container img{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.container h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
}
.container img{
    height: 80px;
    width: 80px;
}
.container:hover{
    transform: scale(1.08);
    transition: 0.4s;
    cursor: pointer;
}
.bottom{
    width: 1200px;
    justify-content: center;
    margin-left: 10%;
    text-align: center;
    background-color:twhite;
    border-radius: 20px;
    height:600px;
    margin-top:50px;
}
.bottom h1{
    font-size: 50px;
    font-weight: 700;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
   
}
.bottom p{
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
   
}
.btn2{
    border:  1px solid black ;
    width: 300px;
    height: 60px;
    margin-top: 40px;
    border-radius: 25px;
    font-size: large;
   
   
}
.btn2:hover{
    color: white;
}
.btn3{
    border:  1px solid black ;
    width: 300px;
    height: 60px;
    margin-top: 40px;
    border-radius: 25px;
    font-size: large;
}
.btn3:hover{
    color: black;
    border: 1px solid tomato;
}
.title{
    color: grey;
    width: 80%;
    margin-left: 20px;
  
    margin-top: 30px;

}
.title:hover{
    color:black
}


.zoom:hover img {
    transform: scale(1.2);
  }

  