.mainDiv{
   
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}

.mainPage{
    width: 95%;
}
.workingDiv{
   
    height: fit-content;
    width: 100%;
    margin: auto;
}

.Details{

    height: 80px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.calenderdiv{

    width: 26%;
    height: 55%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CalenderDate{
    border: 1px solid grey;
    width: 33%;
    height: 100%;
}
.calenderPrev{
    width: 15%;
    height: 100%;
    border: 1px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.calenderPrev>div{

    width: fit-content;
    margin: auto;
}
.calenderNext{
    border: 1px solid grey;
    width: 15%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.calenderdiv>button>div{
 
    width: fit-content;
    margin: auto;
}
.hide{
    display: none;
    background-color: white;
    border: 1px solid black;
}
.Calender{
    width: 100%;
}
.editing{

    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:3%;
}
.editing>div{
    border: 1px solid black;
}
.type{
    width: 25%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
}
.type>button{
    display: flex;
    height: 100%;
    width: fit-content;
    padding-left: 10%;
    padding-right: 10%;
   justify-content: center;
   align-items: center;
  
}
.day{
    border-right: 1px solid black;
}
.refresh{
    height: 70%;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.people{
    height: 70%;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.bulk{
    height: 70%;
    display: flex;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 10px;
}
.sort{
    height: 70%;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.Timer{
    width: 85%;
    margin: auto;
    border : 1px solid green;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(66, 218, 43, 0.35) 0px 5px 15px;
}
.popContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.indtask:hover{     
    background-color: #f8f8f8;
    cursor: pointer;
}
.text{
  
   width : 90%;
   height: 60%;
   font-size: 16px;
   margin-left: 3%;
   text-align: left;
  
}
.textChild{   
    padding-bottom: 2%;
    letter-spacing: 1px;
    font-weight: bold;
} 
.tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2%;
    margin-left: 3%;
}
.tagBtn{
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.tagBtn:hover{
    background-color: #f8f8f8;
}
.leftdiv{

    width: 40%;
    height: fit-content;
    height: 50%;
}

.data{
   /* border: 1px solid black; */
    width: 90%;
    margin:auto;
    margin-top: 50px;
}
.childDiv{

    border: 1px solid black;
    width: 95%;
    margin:auto;
    height: 80px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.div1{


    width: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left:2%;
    text-align:left;
    font-weight: bold;
    font-size: 16px;
}

.div2{
   
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}
.div3{
    /* border: 1px solid black; */
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}
.fnctn{
    border: 1px solid gray;
    width: 12%;
    height: 35px;
    border-radius: 10px;
    
}
.fnctn>button{
   
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 16%;
}
.fnctn:hover{
    background-color: #c7c4c4;
}

.time{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.start{
    width: 35%;
    border-radius: 5px;
    border: 1px solid black;

}
.hyphen{
    width: 10%;
}
.stopwatch{
    width: 45%;
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}
.timerSection{
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 35px ;
    width: 70%;
}
.timerSection:hover{
    border: 1px solid green;
}

.watchBtn{
    border: 1px solid black;
    border-radius: 10px;
    height: 35px ;
    width: 20%;
    
}

.watchBtn>button{
 
   width: fit-content;
   margin: auto;
   margin-top: 26%;
   margin-left: 5%;
   
}